<% layout('/layout/boilerplate.ejs') %>

    <body>
        <div class="alllist row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-3">
            <% alllist.forEach(listing=> { %>
                <div class="col ">
                    <a href="/listings/<%= listing._id %>">
                        <div class="card " style=" height: 25rem;">
                            <img src="<%= listing.image.url %>"
                                class="card-img-top img-fluid rounded-top border-bottom img-cover" alt="hotel image"
                                onerror="this.onerror=null; this.src='https://images.unsplash.com/photo-1578683010236-d716f9a3f461?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';">
                            <div class="card-body  ">
                                <h5 class="card-title">
                                    <%= listing.title %>
                                </h5>
                                <h6>
                                    <%=listing.country %>
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">Price: ₹<%= listing.price %>/Night</h6>

                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>


    </body>